*
{
margin:0px;
padding:0px;
box-sizing:border-box;
}

body{
background: url(../img/header-bg1.png) no-repeat bottom center;
background-size:100% 100%;
min-height:100vh;
}

.bg-text{
text-align:center;
margin-top:160px;
}

.bg-text h1{
font-size: 56px;
color: #fff;
letter-spacing: 0.02em;
line-height: 1.2;
font-family: Montserrat, sans-serif;
font-weight: 400;
text-align:center;
}

.bg-text p{
text-align:center;
font-size: 30px;
color: #fff;
line-height: 50px;
margin-top:30px;
margin-bottom:30px;
}

.bg-text .btn-bg{
color: #fff;
padding: 12px 26px;
background-color: transparent  ;
border: 2px solid  #ccc; 
border-radius:40px;
font-size:15px;
margin-top:60px;
line-height: 24px;
letter-spacing: 0.1em;
font-family: Montserrat, sans-serif;
text-transform:uppercase;
}


.bg-text .btn-bg:hover{
color: #fff;
background-color: #14a5eb ;
border-color: #14a5eb;
transition:0.3s all;
}







@media screen and ( max-width: 768px ) {
  
.bg-text h1{
font-size: 34px;
  }
  
.bg-text p{
font-size: 20px;
  }
}
